<div style="margin-left:300px">
  <p>Property Details</p><br>
  
  <table width=90% >
      <tr>
      <th>Property Type</th>
      <th>Area in Sqr. Feet</th>
      <th>State </th>
      <th>City </th>
      </tr>
      <td align="center"><%= @prop.property_type %></td>
      <td align="center"><%= @prop.area %></td>
      <td align="center"><%= @prop.state %></td>
      <td align="center"><%= @prop.city %></td>
      <td align="center"> 
        </td>
      </tr>
    </table>
</div>
