<h3>Welcome to Real Estate Explorer,</h3>

<p>-----------------------------------------------------</p>
<p>This information is as your created property profile created by you !</p>
<h5>The number of properties available are <%=@property_count%></h5>

<p>-----------------------------------------------------</p>
<p><center>Thanks for joining and have a great day!</center></p>
