<div align=right style="margin-right:20px">
</div>
<div align=center><br/><br/><br/><br/><br/>
  <h1>Let's get started!</h1>
  <h2>First, tell us what you're looking for.</h2>
</div>
<div align=center class="divTable">
  <div class="pos_sell">
    <div >I need sell a property</div>
     <%= link_to "Sign up",new_user_registration_path , :class => 'btn btn-success btn-large'%>
     
    </div>
  <div class="pos_buy">
    <div class="divbuy">I need buy a property</div>
    <%= link_to "Sign up",new_user_registration_path, :class => 'btn btn-success btn-large'%>
    </div>
</div>

