<div class="span8 border_and_background pull-left left_col_height">
    <div class="row-fluid margin_left">
      <div class="row-fluid">
        <div class="span3"><strong>Type</strong></div>
        <div class="span3"><strong>Price</strong></div>
        <div class="span3"><strong>Area</strong></div>
        <div class="span3"><strong>City</strong></div>
      </div>
      <%prop.each do |p| %> 
        <div class="row-fluid">
          <div class="span3"><%= link_to p.property_type, search_property_path(p)%></div>
          <div class="span3"><%=p.price%></div>
          <div class="span3"><%=p.area%></div>
          <div class="span3"><%=p.city%></div>
        </div>
      <%end%>   
    </div>
