@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= bootstrap
 *= users.css
 *= require_tree .
 */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #FF0000;
  padding-right :-10px;
  font-size: 12px;
}

.div1 {
  margin-left: 170px;
}

.list ul li{
  list-style:none;
}

.color_user{
  color:#003366;
}
.pos label {
  position: relative;
  left: -185px;
  top: 28px;
  text-align: right;
  width: 130px;
}
.pos_remember_me label {
  position: relative;
  left: -40px;
  top: -2px;
  text-align: right;
  width: 100px;
}
.pos_remember_me_check {
  position: relative;
  left: -145px;
  top: -30px;
  text-align: right;
  width: 100px;
}
.pos_sign_in {
  position: relative;
  left: -90px;
  top: -18px;
  bottom: 500px;
  text-align: right;
  width: 100px;
}
.pos label {
  position: relative;
  left: -140px;
  top: 30px;
  text-align: right;
  width: 130px;
 }
.div_color {
 color: white;
}
.dob #user_dob_3i{
 width: 50px;
}
.dob #user_dob_2i{
 width: 55px;
}
.dob #user_dob_1i{
 width: 75px;
}
.pos_forgot {
  position: relative;
  left: -35px;
  top: -30px;
  bottom: 500px;
  text-align: right;
  width: 150px;
}
.pos_sell {
  position: relative;
  left: -100px;
  top: 28px;
  text-align: right;
  width: 150px;
}
 .pos_buy {
  position: relative;
  left: 70px;
  top: -35px;
  text-align: right;
  width: 150px;
}
.all_page_margin {
  margin-left:300px;
}
.span2{
 background-color: #F7F7F7;
 border: 1px solid #DDD;
}
