<footer class="footer">
  <small>
  </small>
  <%= stylesheet_link_tag "custom" %>
  <nav>
  All rights and content are Copyright © 2013
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
